<div ng-controller="SignupController as signupCtrl">
    <h2 class="text-center">Sign Up For Newsletter Below</h2>
    <form name='signupForm' novalidate>
        // need to create a form that asks first last name email phone and short name of food menu
        <input type="text" name="firstName" ng-model="signupCtrl.firstName" placeholder="First Name" required>
        <input type="text" name="lastName" ng-model="signupCtrl.lastName" placeholder="Last Name" required>
        <input type="email" name="email" ng-model="signupCtrl.email" placeholder="Email" required>
        <input type="tel" name="phone" ng-model="signupCtrl.phone" placeholder="Phone" required>
        <input type="text" name="menuShortName" ng-model="signupCtrl.menuShortName" placeholder="Favorite Menu Item" required>
        <button type="submit" ng-click="signupCtrl.submit()" ng-disabled="signupForm.$invalid">Submit</button>
    </form>
</div>