* {
  box-sizing: border-box;
}
div {
  background-color:white;
}
h1{
  text-align: center;
  margin: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.75em;
}
#category{
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  text-align: left;
}
p {
  border: 1px solid black;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;    
  padding: 15px;
  font-family: Helvetica;
  background-color: lightgrey;
  color: black;
  overflow: hidden;
  font-size: 1em;
}
p:hover {
  overflow:auto;
}
span {
  float:right;
  position: relative;
  top: -15px;
  right: -15px;
  border: 1px solid black;
  width: 33.3%;
  margin: auto;
  text-align: center;
  background-color: lightgrey;
  color: black;
  font-size: 1.25em;
} 
#p1 {
  background-color: #A52A2A;
}
#p2 {
  background-color: #DEB887;
}
#p3{
    background-color: #5F9EA0;
}

.row {
    width: 100%;
}


/* Desktop Version */
@media (min-width: 992px) {
    .box{
        float:left;
        width: 33%;
    }

    #category{
      display: none;
    }

    .mobilelabel{
      display: none;
    }
}

/* Tablet Version */
@media (min-width: 768px) and (max-width: 991px) {
    .col2 {
        float: left;
        width: 50%;
    }

    .full{
        float: left;
        width: 100%;
    }
    #category{
      display: none;
    }
     .mobilelabel{
      display: none;
    }
}

/* Mobile Version */
@media (max-width: 767px) {
   #menu{
      display: none;
   }

  span{
    width:110%; /* had to do this because it was like giving me a weird space because paragraph is only 90% wide */
    text-align: center;
  }
   
  .reglabel{
    display: none;  
  }

  .mobilelabel{
    font-size: 1.5em; /* made bigger so it would wrap */
  }
}
